<h1>Listes des salles disponibles</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Disponibilité</th>
        <th scope="col">Capacité</th>
        <th scope="col">Equipement</th>
        <th scope="col">Dascription</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Nour</td>
        <td>Nour</td>
        <td>Nour</td>
        <td>Nour</td>
        <td>Nour</td>
        <button type="submit" class="btn btn-primary mb-2">Update</button>
        <button type="submit" class="btn btn-primary mb-2">Delete</button>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Nour</td>
        <td>Nour</td>
        <td>Nour</td>
        <td>Nour</td>
        <td>Nour</td>
        <button type="submit" class="btn btn-primary mb-2">Update</button>
        <button type="submit" class="btn btn-primary mb-2">Delete</button>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Nour</td>
        <td>Nour</td>
        <td>Nour</td>
        <td>Nour</td>
        <td>Nour</td>
        <button type="submit" class="btn btn-primary mb-2">Update</button>
        <button type="submit" class="btn btn-primary mb-2">Delete</button>

      </tr>
    </tbody>
</table>